#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# test files
main.tf

# Crash logs
crash.log

# Built binary
terraform-provider-dynatrace
/.project